{
    "printWidth": 110,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "semi": true,
    "arrowParens": "always",
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true
}